<%= javascript_include_tag "flowplayer" %>

<div id="viewer">
	<div id="sidebar">
		<%= render 'viewer/controls' %>
		<%= render 'viewer/simulation' %>
		<%= render 'viewer/overall_camera' %>
	</div>
	<%= render 'viewer/camera' %>
</div>
