<%= javascript_include_tag "flowplayer" %>
<%= javascript_include_tag 'socket.io' %>
<%= javascript_include_tag 'three' %>
<%= javascript_include_tag 'simulation' %>

<div id="viewer">
	<div id="sidebar">
		<%= render 'viewer/queue' %>
		<%= render 'viewer/controls' %>
		<%= render 'viewer/simulation' %>
	</div>
	<%= render 'viewer/camera' %>
</div>
