<!-- Standard static Bootstrap navbar -->
<nav class="navbar navbar-default navbar-static-top" id="main_navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_path %>"><%= t 'title' %></a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
				<%= render partial: "navbar_item", locals: {title_key: "viewer", path: root_path}  %>
				<%= render partial: "navbar_item", locals: {title_key: "about", path: about_path}  %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<%# Authentication links %>
				<% if signed_in? %>
					<%= link_to t('link.sign_out'), signout_path, method: :delete, class: "btn btn-default navbar-btn" %>
				<% else %>
					<%= link_to t('link.sign_in'), signin_path, class: "btn btn-default navbar-btn" %>
					<%= link_to t('link.sign_up'), signin_path, class: "btn btn-default navbar-btn" %>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
